.table-div {
  /*background: pink;*/
  background-image: url("../images/table.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 500px;
  position: relative;
  top: 20px;
  left: 0;
  display: flex;
  align-content: space-between;
  flex-flow: row wrap;
  margin: 40px auto;
}

.customer-place {
  background: orange;
  width: 40%;
  height: 30%;
  margin: 20px;
}

.customer-glass {
  width: 30%;
  height: 60px;
  /*background: green;*/
}

.customer-glass:hover {
  cursor: pointer;
}

.customer-plate {
  position: relative;
  top: 10px;
  left: 20px;
  width: 80%;
  height: 50%;
  /*background: red;*/
}

.customer-plate:hover {
  cursor: pointer;
}
